.aboutSection {
    height: 55vh;
    position: relative;

    h2 {
        font-size: 3rem;
        letter-spacing: -.15rem;
        width: 100%;
    }

    .aboutContent {
        display: flex;

        .articleText {
            width: 80%;
    
            h3 {
                font-family: $secondaryFont;
            }
    
            span {
                color: $primaryColour;
            }
    
            h4 {
                font-size: .9rem;
                font-weight: 400;
                letter-spacing: .05rem;
                margin: 0;
            }

            p {
                margin: .5rem 0;
            }

        }

        .articleLink {
            transition: all .5s;

            &:hover,
            &:focus-within {
                font-weight: 800;
            }

        }

    }

    .imageBackground {
        background-color: $backgroundColour;
        border: 1px solid black;
        border-radius: 50%;
        width: 12.5rem;
        height: 12.5rem;
        overflow: hidden;
        position: relative;

        .imageContainer {
            width: 25rem;
            height: 25rem;
            position: absolute;
            left: -6rem;
            top: -1.5rem;
        }

    }

}