.aboutSection {
    min-height: 60vh;
    position: relative;

    h2 {
        font-size: 3rem;
        letter-spacing: -.15rem;
        width: 100%;
        padding: 2rem 0 0 0;
    }

    .aboutContent {
        display: flex;
        padding: 2rem 0 0 0;

        .articleText {
            width: 80%;
            position: relative;
    
            h3 {
                font-family: $secondaryFont;
            }
    
            span {
                color: $primaryColour;
            }
    
            h4 {
                font-size: .9rem;
                font-weight: 400;
                letter-spacing: .05rem;
                margin: 0 0 1rem 0;
            }

            p {
                margin: .5rem 0;
                width: 100%;
            }

        }

        .articleLink,
        .junoLink {
            transition: all .5s;

            &:hover,
            &:focus-within {
                font-weight: 800;
            }

        }

        .resumeLink {
            display: flex;
            background-color: $backgroundColour;  
            width: 100%;
            max-width: 9.75rem;
            min-width: 9.75rem;
            margin: 1rem 0 0 0;
            padding: .5rem 3.25rem;
            border-radius: .25rem;  
            transition: all .5s;
            
            &:hover,
            &:focus {
                color: white;
                background-color: black;
            }

        }

    }

    .imageBackground {
        background-color: $backgroundColour;
        border: 1px solid black;
        border-radius: 50%;
        margin: 0 3rem 0 0;
        width: 12.5rem;
        min-width: 12.5rem;
        height: 12.5rem;
        min-height: 12.5rem;
        overflow: hidden;
        position: relative;

        .imageContainer {
            width: 25rem;
            height: 25rem;
            position: absolute;
            left: -6rem;
            top: -1.5rem;
        }

    }

}