.contactSection {
    min-height: 55vh;
    position: relative;
    margin-bottom: 2rem;

    &::before {
        content: "";
        position: absolute;
        border-bottom: 1px solid black;
        width: 100%;
    }

    .contactHeadline {

        h2 {
            padding-top: 2rem;
            font-size: 3rem;
            letter-spacing: -.15rem;
            width: 100%;
        }

        .actionText {
            width: 40%;
            margin: .5rem .5rem .5rem 0;
        }

    }

    .contactContent {
        display: flex;

        .contactSocials {
            width: 30%;
            position: relative;
            top: 2rem;

            h3 {
                font-family: $primaryFont;
                width: 100%;
                font-size: .9rem;
                font-weight: 400;
                letter-spacing: .05rem;
                margin: 1rem 0;
            }
    
        }

        .calendlyLink {
            background-color: $backgroundColour;  
            width: 100%;
            padding: .5rem 3.25rem;
            border-radius: .25rem;  
            transition: all .5s;
            
            &:hover,
            &:focus {
                color: white;
                background-color: black;
            }

        }

        .contactForm {
            width: 50%;
        }

    }

    .socialsList {
        display: flex;
        justify-content: space-between;
        width: 30%;
        min-width: 10rem;

        li {
            max-width: 1rem;
            max-height: 1rem;    
        }

        .fa-github,
        .fa-linkedin-in,
        .fa-twitter,
        .fa-youtube {
            transition: all .5s;
            
            &:hover {
                color: $primaryColour;
            }

        }

    }
    
    form {
        display: flex;
        flex-direction: column;

        .formInput {
            display: flex;
            justify-content: space-evenly;
        }

        input[type="text"] {
            margin: .5rem 0;
            width: calc(50% - .5rem);
            border: none;
            border-bottom: 1px solid black;
            font-family: $primaryFont;
        }

        textarea {
            resize: none;
            height: 10rem;
            font-family: $primaryFont;
            border: 1px solid black;
            border-radius: .25rem;
            margin: 1rem 0 0 0;
            padding: .5rem;
        }

        button {
            border: none;
            border-radius: .25rem;
            padding: .5rem 1rem;
            background-color: $backgroundColour;
            transition: all .5s;

            &:hover,
            &:focus {
                color: white;
                background-color: black;
            }

        }

    }

}