.contactSection {
    height: 50vh;

    h2 {
        font-size: 3rem;
        letter-spacing: -.15rem;
        width: 100%;
    }

    .contactForm {
        width: 50%;
    }
    
    form {
        display: flex;
        flex-direction: column;

        input[type="text"] {
            margin: .5rem 0;
        }

        textarea {
            resize: none;
            height: 5rem;
        }

        button {
            border: none;
            background-color: white;
            transition: all .5s;

            &:hover,
            &:focus {
                background-color: black;
                color: white;
            }

        }

    }

}