footer {
    height: 10vh;
    display: flex;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::before {
            content: "";
            border-bottom: 1px solid black;
            width: 100%;
            position: absolute;
            top: 0;
        }

    }

    p {
        text-align: center;
        font-size: .8rem;
    }
    
}