header {
    height: 100vh;
    
    .headerNavigation {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    ul {
        display: flex;
        justify-content: space-between;
        width: 40%;

        li {
            transition: all .5s;

            a {
                text-transform: uppercase;
                font-size: .8rem;
                font-weight: 700;
            }

            &:hover,
            &:focus-within {
                color: $primaryColour;
            }
            
        }

    }
    
}