header {
    height: 100vh;
    background: url("../../assets/renders/infiniteRoom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
    .wrapper {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border-bottom: 1px solid black;
            width: 100%;
        }

    }
    
    .mainNavigation {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border-bottom: 1px solid black;
            width: 100%;
            top: 4.5rem;
        }

    }

    .brandLogo {
        font-family: $secondaryFont;
        font-size: 2rem;
        letter-spacing: -.05rem;
        transition: all .5s;
        position: relative;

        &:hover,
        &:focus {
            color: $primaryColour;
            
            &::after {
                content: ".";
                color: black;
                font-family: $primaryFont;
                position: relative;
                right: .73rem;
                bottom: .59rem;
                transition: all .5s;
            }

        }

        &::after {
            content: ".";
            color: $primaryColour;
            position: relative;
            right: .77rem;
            bottom: .59rem;
        }

    }
    
    .desktopMenu {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 40%;

        li {
            transition: all .5s;

            a {
                text-transform: uppercase;
                font-size: .8rem;
                letter-spacing: .05rem;
                font-weight: 500;
            }

            &:hover,
            &:focus-within {
                color: $primaryColour;
            }
            
        }

    }

    .desktopLink {
        position: relative;
    
        &::after {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 1.2rem;
            width: 100%;
            transform: scaleX(0);
            border-bottom: 1px solid black;
            transition: all .5s;
        }
    
        &:hover::after,
        &:focus-within::after {
            transform: scaleX(1);
            transition: all .5s;
            border-bottom: 1px solid $primaryColour;
        }
    
    }
        
    .headerContent {
        height: 90vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 3.5rem;
            letter-spacing: -.15rem;
        }

        h3 {
            font-size: .9rem;
            font-weight: 400;
            letter-spacing: .15rem;
        }

        .headerHeadings {
            width: 100%;

            span {
                color: $primaryColour;
            }

        }

        .imageContainer {
            width: 7.5%;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: rotate(90deg);
        }

    }

    .sectionLinks {
        position: fixed;
        right: 1rem;
        top: 30%;
        z-index: 100;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        li {
            transition: all .5s;
            
            &:hover,
            &:focus-within {
                color: $primaryColour;
            }

        }

    }
    
}