.projectsSection {

    h2 {
        font-size: 3rem;
        letter-spacing: -.15rem;
        width: 100%;
    }

    li {

        &:nth-child(even) {
            text-align: right;
        }

    }

    .individualProject {
        display: flex;
        width: 100%;

        .projectDesktop {
            position: relative;
        }

        .iconContainer {
            position: relative;
            min-width: 15rem;
        }

        .logoContainer {
            position: absolute;
            width: 50%;
            left: 4rem;
            top: 0;
        }
        
    }
    
    .projectDescription {
        width: 50%;

        h3 {
            font-family: $secondaryFont;
        }

        h4 {
            font-size: .9rem;
            font-weight: 400;
            letter-spacing: .05rem;
        }

    }

}