.projectsSection {
    padding: 2.5rem 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        border-bottom: 1px solid black;
        width: 100%;
    }

    h2 {
        font-size: 3rem;
        letter-spacing: -.15rem;
        width: calc(100% - 2rem);
        text-align: center;
        margin: 1rem;
    }

    .individualProject {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 4rem 0;
        position: relative;

        .projectImage {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .imageContainer {
                position: absolute;
                width: 20rem;
                height: 20rem;
                top: -3rem;
                overflow: hidden;
                // border-radius: 50%;
            }

        }
        
    }
    
    .projectDescription {
        width: 70%;
        display: flex;
        flex-wrap: wrap;

        h3 {
            width: 100%;
            font-family: $secondaryFont;
        }

        h4 {
            width: 100%;
            font-size: .9rem;
            font-weight: 400;
            letter-spacing: .05rem;
            margin: 0 0 1rem 0;
        }

        p {
            width: 100%;
            margin: 0 0 1rem 0;
        }

    }

    .projectLinks {
        width: 20%;
        
        ul {
            display: flex;
            justify-content: space-between;
        }
        
        a {
            display: block;
            background-color: $backgroundColour;
            padding: .5rem 1rem;
            max-width: 4rem;
            border-radius: .25rem;
            transition: all .5s;

            &:hover, 
            &:focus-within {
                color: white;
                background-color: black;
            }

        }

    }

}