// Imports
@import url("https://use.typekit.net/rhu3qmo.css"); // Futura PT
@import url("https://use.typekit.net/rhu3qmo.css"); // Nimbus Roman

// Typography
$primaryFont: 'futura-pt', sans-serif;
$secondaryFont: 'nimbus-roman', serif;

// Colours
$primaryColour: #FA472A;
$backgroundColour: #F3F3F3;