@import url("https://use.typekit.net/rhu3qmo.css");
@import url("https://use.typekit.net/rhu3qmo.css");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-size: calc(125% * .8);
  scroll-behavior: smooth;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

h3,
h4,
p,
a,
button {
  font-family: "futura-pt", sans-serif;
}

h1,
h2 {
  font-family: "nimbus-roman", serif;
}

header {
  height: 100vh;
  background: url("../../assets/renders/infiniteRoom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
header .wrapper {
  position: relative;
}
header .wrapper::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid black;
  width: 100%;
}
header .mainNavigation {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .mainNavigation::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid black;
  width: 100%;
  top: 4.5rem;
}
header .brandLogo {
  font-family: "nimbus-roman", serif;
  font-size: 2rem;
  letter-spacing: -0.05rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}
header .brandLogo:hover, header .brandLogo:focus {
  color: #FA472A;
}
header .brandLogo:hover::after, header .brandLogo:focus::after {
  content: ".";
  color: black;
  font-family: "futura-pt", sans-serif;
  position: relative;
  right: 0.73rem;
  bottom: 0.59rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .brandLogo::after {
  content: ".";
  color: #FA472A;
  position: relative;
  right: 0.77rem;
  bottom: 0.59rem;
}
header .desktopMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 40%;
}
header .desktopMenu li {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .desktopMenu li a {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
}
header .desktopMenu li:hover, header .desktopMenu li:focus-within {
  color: #FA472A;
}
header .desktopLink {
  position: relative;
}
header .desktopLink::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 1.2rem;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 1px solid #FA472A;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .desktopLink:hover::after, header .desktopLink:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .headerContent {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerContent h1 {
  font-size: 3.5rem;
  letter-spacing: -0.15rem;
}
header .headerContent h3 {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
}
header .headerContent .headerHeadings {
  width: 100%;
}
header .headerContent .headerHeadings span {
  color: #FA472A;
}
header .headerContent .imageContainer {
  width: 7.5%;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
header .sectionLinks {
  position: fixed;
  right: 1rem;
  top: 30%;
  z-index: 100;
}
header .sectionLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .sectionLinks li {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .sectionLinks li:hover, header .sectionLinks li:focus-within {
  color: #FA472A;
}

.aboutSection {
  min-height: 55vh;
  position: relative;
  padding: 0 0 4rem 0;
}
.aboutSection h2 {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  width: 100%;
  padding: 2rem 0 0 0;
}
.aboutSection .aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0 0 0;
}
.aboutSection .aboutContent .articleText {
  width: 80%;
  position: relative;
}
.aboutSection .aboutContent .articleText h3 {
  font-family: "nimbus-roman", serif;
}
.aboutSection .aboutContent .articleText span {
  color: #FA472A;
}
.aboutSection .aboutContent .articleText h4 {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin: 0 0 1rem 0;
}
.aboutSection .aboutContent .articleText p {
  margin: 0.5rem 0;
  width: 100%;
}
.aboutSection .aboutContent .articleLink,
.aboutSection .aboutContent .junoLink {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.aboutSection .aboutContent .articleLink:hover, .aboutSection .aboutContent .articleLink:focus-within,
.aboutSection .aboutContent .junoLink:hover,
.aboutSection .aboutContent .junoLink:focus-within {
  font-weight: 800;
}
.aboutSection .aboutContent .resumeLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F3F3F3;
  width: 100%;
  max-width: 9.75rem;
  min-width: 9.75rem;
  margin: 1rem 0 0 0;
  padding: 0.5rem 3.25rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.aboutSection .aboutContent .resumeLink:hover, .aboutSection .aboutContent .resumeLink:focus {
  color: white;
  background-color: black;
}
.aboutSection .imageBackground {
  background-color: #F3F3F3;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 3rem 0 0;
  width: 12.5rem;
  min-width: 12.5rem;
  height: 12.5rem;
  min-height: 12.5rem;
  overflow: hidden;
  position: relative;
}
.aboutSection .imageBackground .imageContainer {
  width: 25rem;
  height: 25rem;
  position: absolute;
  left: -6rem;
  top: -1.5rem;
}

.skillsSection {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.skillsSection::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid black;
  width: 100%;
}
.skillsSection h2 {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  width: calc(100% - 2rem);
  text-align: center;
  margin: 2rem;
}
.skillsSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}
.skillsSection ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F3F3F3;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  min-width: 115px;
  width: calc(100% / 10);
  border-bottom: 1px solid black;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.skillsSection ul li .imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  margin: 0 0 0.15rem 0;
}
.skillsSection ul li:hover, .skillsSection ul li:focus-within {
  color: #FA472A;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}
.skillsSection ul p {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}

.projectsSection {
  padding: 2.5rem 0 0 0;
  position: relative;
}
.projectsSection::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid black;
  width: 100%;
}
.projectsSection h2 {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  width: calc(100% - 2rem);
  text-align: center;
  margin: 2rem;
}
.projectsSection .individualProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 4rem 0;
  position: relative;
}
.projectsSection .individualProject .projectImage {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.projectsSection .individualProject .projectImage:hover, .projectsSection .individualProject .projectImage:focus-within {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  border-left: 3px solid #FA472A;
}
.projectsSection .individualProject .imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  height: 10rem;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.projectsSection .individualProject .projectDescription {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projectsSection .individualProject .projectDescription h3 {
  width: 100%;
  font-family: "nimbus-roman", serif;
}
.projectsSection .individualProject .projectDescription h4 {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin: 0 0 1rem 0;
}
.projectsSection .individualProject p {
  width: 80%;
  margin: 0 0 1rem 0;
}
.projectsSection .projectLinks {
  width: 100%;
}
.projectsSection .projectLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.projectsSection .projectLinks a {
  display: block;
  margin: 0 0.5rem 0 0;
  background-color: #F3F3F3;
  padding: 0.5rem 1rem;
  max-width: 4rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.projectsSection .projectLinks a:hover, .projectsSection .projectLinks a:focus-within {
  color: white;
  background-color: black;
}

.contactSection {
  min-height: 55vh;
  position: relative;
  margin-bottom: 2rem;
}
.contactSection::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid black;
  width: 100%;
}
.contactSection .contactHeadline h2 {
  padding-top: 2rem;
  font-size: 3rem;
  letter-spacing: -0.15rem;
  width: 100%;
}
.contactSection .contactHeadline .actionText {
  width: 40%;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.contactSection .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSection .contactContent .contactSocials {
  width: 30%;
  position: relative;
  top: 2rem;
}
.contactSection .contactContent .contactSocials h3 {
  font-family: "futura-pt", sans-serif;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin: 1rem 0;
}
.contactSection .contactContent .calendlyLink {
  background-color: #F3F3F3;
  width: 100%;
  padding: 0.5rem 3.25rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contactSection .contactContent .calendlyLink:hover, .contactSection .contactContent .calendlyLink:focus {
  color: white;
  background-color: black;
}
.contactSection .contactContent .contactForm {
  width: 50%;
}
.contactSection .socialsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  min-width: 10rem;
}
.contactSection .socialsList li {
  max-width: 1rem;
  max-height: 1rem;
}
.contactSection .socialsList li:focus-within {
  color: #FA472A;
}
.contactSection .socialsList .fa-github,
.contactSection .socialsList .fa-linkedin-in,
.contactSection .socialsList .fa-twitter,
.contactSection .socialsList .fa-youtube {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contactSection .socialsList .fa-github:hover,
.contactSection .socialsList .fa-linkedin-in:hover,
.contactSection .socialsList .fa-twitter:hover,
.contactSection .socialsList .fa-youtube:hover {
  color: #FA472A;
}
.contactSection .contactForm {
  margin: 0 0 0 auto;
}
.contactSection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactSection form .formInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contactSection form input[type=text] {
  margin: 0.5rem 0;
  width: calc(50% - .5rem);
  border: none;
  border-bottom: 1px solid black;
  font-family: "futura-pt", sans-serif;
}
.contactSection form textarea {
  resize: none;
  height: 10rem;
  font-family: "futura-pt", sans-serif;
  border: 1px solid black;
  border-radius: 0.25rem;
  margin: 1rem 0 0 0;
  padding: 0.5rem;
}
.contactSection form button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #F3F3F3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contactSection form button:hover, .contactSection form button:focus {
  color: white;
  background-color: black;
}

footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
footer .wrapper::before {
  content: "";
  border-bottom: 1px solid black;
  width: 100%;
  position: absolute;
  top: 0;
}
footer p {
  text-align: center;
  font-size: 0.8rem;
}
footer span {
  color: #FA472A;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .aboutSection {
    min-height: 70vh;
  }

  .skillsSection {
    min-height: 90vh;
  }
  .skillsSection h2 {
    padding: 0.5rem 0 0 0;
  }

  .projectsSection .projectImage {
    width: 35%;
    margin-right: 1rem;
  }
  .projectsSection .projectDescription {
    width: 65%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .contactSection .contactForm {
    margin: 0 0 0 auto;
  }
}
@media (max-width: 880px) {
  .aboutSection .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .aboutSection .aboutContent .articleText {
    width: 90%;
    margin: 0 auto;
  }
  .aboutSection .aboutContent .imageBackground {
    margin: 0 auto 1rem auto;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .aboutSection {
    min-height: 85vh;
  }

  .projectsSection .individualProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectsSection .individualProject .projectImage {
    width: 100%;
  }
  .projectsSection .individualProject .projectDescription {
    width: 100%;
  }

  .contactSection .contactHeadline .actionText {
    width: 100%;
  }
  .contactSection .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contactSection .contactContent .contactSocials,
.contactSection .contactContent .contactForm {
    width: 100%;
  }
  .contactSection .contactContent .contactSocials {
    top: 0;
    margin: 0 0 2rem 0;
  }
}
@media (max-width: 720px) {
  header .desktopMenu {
    width: 50%;
  }

  .projectsSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projectsSection .individualProject {
    margin: 2rem 0;
  }
  .projectsSection .projectImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 0 1rem 0;
  }
  .projectsSection .projectImage .imageContainer {
    width: 15rem;
    height: 10rem;
  }
  .projectsSection .projectDescription {
    width: 100%;
  }
  .projectsSection .projectDescription p {
    width: 97.5%;
    font-size: 1rem;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  header .desktopMenu {
    display: none;
  }
  header .headerContent h1 {
    font-size: 2.6rem;
  }
  header .headerContent h3 {
    font-size: 0.65rem;
    letter-spacing: 0.12rem;
  }
  header .headerContent .imageContainer {
    width: 20%;
  }

  .aboutSection {
    min-height: 85vh;
  }
  .aboutSection h2 {
    font-size: 2.5rem;
  }
  .aboutSection .aboutContent {
    padding: 0;
  }

  .skillsSection h2 {
    font-size: 2.5rem;
  }

  .projectsSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 0 2rem 0;
  }
  .projectsSection h2 {
    font-size: 2.5rem;
    width: calc(100% - 2rem);
    text-align: center;
    margin: 2rem 0 0 0;
  }
  .projectsSection .projectDescription p {
    width: 95%;
  }

  .contactSection .contactHeadline h2 {
    font-size: 2.5rem;
  }
  .contactSection .contactHeadline .actionText {
    width: 95%;
  }
  .contactSection li:focus-within {
    color: #FA472A;
  }
}